* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding-right: 100vw;
  overflow: hidden;
  background-color: rgb(255, 0, 0);
}
  
li {
  float: left;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
}
li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(0, 0, 0);
}
h1, h2 {
  text-align: center;
  margin: 3rem 0 3rem 0;
}
p {
  text-align: center;
  margin: 0 10rem 0 10rem;
}
h1 {
  margin-top: 6rem;
}
article {
  display: flex;
  justify-content: center;
}
img {
  height: 500px;
}
footer {
  background-color: rgb(255, 0, 0);
  padding: 14px 16px;
  text-align: center;
  margin-top: 10rem;
}
footer a {
  color: white;
  text-decoration: none;
}
