* {
    margin: 0;
    padding: 0;
}
.grad {
    width: 100%;
    text-align: left;
    padding: 3rem 0 3rem 0;
}
.grad strong {
    
    text-transform: uppercase;
    display: inline-block;
    
}

#grad-1 {
    background-image: linear-gradient(pink, white);
    color: black;
}
#grad-2 {
    background-image: linear-gradient(90deg, red, orange);
    color: white;
}
#grad-3 {
    background-image: radial-gradient(darkgreen, lightgreen);
    color: white;
}
#grad-4 {
    background-image: repeating-radial-gradient(yellow, yellow 10%, black 15%);
    color: black;
}
#grad-5 {
    background-image: linear-gradient(45deg, darkblue, lightblue);
    color: white;
}
#grad-6 {
    background-image: radial-gradient(gray 60%, brown 40%);
    color: white;
}
#grad-7 {
    background-image: linear-gradient(brown, white, yellow);
    color: black;
}
#grad-8 {
    background-image: radial-gradient(purple 50%, white, gray);
    color: black;
}
#grad-9 {
    background-image: url("assets/bulbasaur.gif");
    background-size: 1350px 100px;
    
}
#grad-10 {
    background-image: url("assets/charmander.gif");
    background-size: 1350px 100px;
}
#grad-11 {
    background-image: url("assets/jigglypuff.gif");
    background-size: 1350px 100px;
}
#grad-12 {
    background-image: url("assets/onyx.gif");
    background-size: 1350px 100px;
}
#grad-13 {
    background-image: url("assets/pidgey.gif");
    background-size: 1350px 100px;
    
}
#grad-14 {
    background-image: url("assets/pikachu.gif");
    background-size: 1350px 100px;
}
#grad-15 {
    background-image: url("assets/rattata.gif");
    background-size: 1350px 100px;
}
#grad-16 {
    background-image: url("assets/squirtle.gif");
    background-size: 1350px 100px;
}