/*
-> Layout
  Mobile: 375px
  Desktop: 1440px

-> Colors
  --> Cores Primárias
    Cyan: hsl(179, 62%, 43%)
    Bright Yellow: hsl(71, 73%, 54%)
 
  --> Cores Neutras
    Light Gray: hsl(204, 43%, 93%)
    Grayish Blue: hsl(218, 22%, 67%)

-> Tipografia
  --> Fonte
    Family: Karla (https://fonts.google.com/specimen/Karla)
    Weights: 400, 700
*/
@import url(/provas/prova1/globais.css);
@media (max-width: 2560px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 17.5vh 40vw;
        background-color: var(--light-gray);
    }
    div {
        box-shadow: 0 0 2rem var(--gray);
        border-radius: 0.6rem; /*borda da sombra*/
    }
    div header {
        background-color: #fff;
        padding: 3.5rem 3rem 3rem 3.5rem;
        height: 14rem;
        width: 62.46rem;
        color: var(--grayish-blue);
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
        
    }
    h1 {
        font-size: 2.3rem;
        color: var(--cyan);
    }
    h2 {
        font-size: 1.8rem;
    }
    header h2 {
        margin-top: 2rem;
        color: var(--bright-yellow);
    }
    p {
        font-size: 1.4rem;
        margin-top: 0.8rem;
    }
    header p:nth-of-type(1) {
        margin-top: 1.5rem;
    }
    article {
        display: flex;
        height: 25rem;
        color: #fff;
        
    }
    article .first {
        background-color: var(--cyan);
        width: 31rem;
        padding: 3.5rem 0 0 3.5rem;
        border-bottom-left-radius: 0.6rem;
        text-align: left;
    }
    span {
        display: flex;
    }
    span small {
        margin: 0.8rem 0 1rem 0;
        padding-left: 1.2rem;
    }
    article .second {
        background-color: var(--light-cyan);
        width: 31rem;
        padding: 3.5rem 0 0 3.5rem;
        border-bottom-right-radius: 0.6rem;
    }
    .first h2 {
        margin-bottom: 1.6rem;
    }
    .first strong {
        font-size: 2.8rem;
    }
    .first small {
        color: var(--lighter-cyan);
        font-size: 1.4rem;
    }
    .first input {
        
        margin-top: 2.5rem;
        padding: 1.5rem;
        width: 27.3rem;
        font-size: 1.8rem;
        border-radius: 0.6rem;
        border-style: none;
        color: #fff;
        box-shadow: 0 0 2rem var(--dark-cyan);
        background-color: var(--bright-yellow);
    }
    .second h2 {
        margin-bottom: 2.2rem;
    }
    .second p {
        line-height: 1.1rem;
        color: var(--lighter-cyan2);
    }
}
@media (max-width: 1440px) {


}
@media (max-width: 375px) {
    body {
        display: grid;
        grid-template-areas: 
        "main main main"
        "main header main"
        "main article main"
        "main article main"
        "main main main";
    }
    main {
        background-color: var(--light-gray);
        padding: 10vh 15vw;
    }
    div header {
        background-color: #fff;
        padding: 0;
        height: 20rem;
        width: 16.5rem;
        color: var(--grayish-blue);
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
        
    }

    article {
        flex-direction: column;
        height: 25rem;
    }

    article .first {
        background-color: var(--cyan);
        width: 16.5rem;
        padding: 0;
        border-bottom-left-radius: 0.6rem;
        text-align: left;
    }
    article .second {
        background-color: var(--light-cyan);
        width: 16.5rem;
        padding: 0;
        border-bottom-right-radius: 0.6rem;
    }
    .first input {
        
        margin-top: 0;
        padding: 0;
        width: 10rem;
        font-size: 1.8rem;
        border-radius: 0.6rem;
        border-style: none;
        color: #fff;
        box-shadow: 0 0 2rem var(--dark-cyan);
        background-color: var(--bright-yellow);
    }
}